/* -------------------------------------------------------------------------- */
/*                                     NAV                                    */
/* -------------------------------------------------------------------------- */

.nav {
    // border: 2px solid red;
    height: 10vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
        list-style-type: none;
        text-align: right;

    }

    &__item {
        display: inline;
        padding: 1rem;
    }

    &__link {
        // text-transform: uppercase;
        text-decoration: none;
        font-size: 3rem;
        font-family: $general-font;
        font-weight: 200;
        @include soft(0.7s);

        &:hover {
            color: $secondary-color;
            text-decoration: underline;
            text-decoration-color: $text-color;
        }

        &--active {
            color: #7B1E24;
            text-decoration: underline;
            text-decoration-color: $text-color;
        }
    }

    &__logo {
        // border: 2px solid red;
        margin-top: 1rem;
        margin-left: 1rem;

        &__img {
            width: 70px;
        }

    }
}