/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

//colors

$primary-color: #272727;
$secondary-color: #D4AF37;
$thirt-color: #7B1E24;
$text-color: #fff;


//fonts

$general-font: "Pacifico", serif;
$secondary-font: "Tangerine", serif;

    //path